<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h2>{{title}}</h2>
  <br>
  <p>
    Nuevo Héroe :
    <input type="text" #box (keyup.enter)="addHero(box.value); box.value=''" placeholder="Nombre del Héroe">
    <input type="checkbox" id="can-fly" [(ngModel)]="canFly">
    Puede volar
  </p>
  <p><button (click)="reset()">Reset</button></p>
  <hr>
  <h4>{{title2}} - (Filtrados)</h4>
  <div id="flyers">
    <div *ngFor="let hero of (heroes | flyingHeroes)">
      {{hero.name}}
    </div>
  </div>
  <br>
  <h4>{{title3}} - (Sin Filtro)</h4>
  <div id="all">
    <div *ngFor="let hero of heroes">
      {{hero.name}}
    </div>
  </div>
  
</body>
</html>